<!-- <div class="error">
  <p>{{ errorMessage }}</p>
  <p>
    <a
      href="https://news.google.com/search?q=prostate%20cancer&hl=en-GB&gl=GB&ceid=GB%3Aen"
      >Prostate cancer news on Google News</a
    >
  </p>
</div> -->

<!-- <input
  type="search"
  placeholder="Search news..."

  (input)="onSearch(($event.target as HTMLInputElement).value)"
  [value]="searchTerm$$()"
/> -->

<app-pagination
  [currentPage]="currentPage$$()"
  [totalPages]="totalPages$$()"
  [pageSize]="pageSize$$()"
  (pageChange)="onPageChange($event)"
></app-pagination>

<ul class="news-container">
  <li *ngFor="let news of paginatedNews$$()">
    <app-news-card [news]="news" />
  </li>
</ul>
