.news-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  li {
    height: 100%;
  }

  li:nth-child(1) {
    grid-column: span 2;
  }

  li:nth-child(3n) {
    grid-row: span 2;
  }
}
