@use 'styles/index' as *;
@use 'styles/components/widget' as *;

:host {
  display: flex;
  container-type: inline-size;
  width: 100%;
}

.next-event-widget {
  @include widget-style;

  h2 {
    @include heading(3);
  }

  &.empty {
    opacity: 0.6;
    font-style: italic;
  }

  @container (min-width: 700px) {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
}
