@use 'styles/index' as *;
@use 'styles/components/widget' as *;

:host {
  container-type: inline-size;
  display: block;
}

.icon {
  opacity: .5;
}

.publication {
  // TODO: Tweak the colour a little bit
  // color: hsl(var(--color-text), .5);
}

.recent-news-widget {
  @include widget-style;

  ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;

    li {
      margin-bottom: 0.75rem;

      a {
        display: block;
        text-decoration: none;
        border-radius: 0.5rem;
        background-color: rgba(0,0,0,.05);
        transition: background-color 0.2s ease;
        padding: .5rem;

        &:hover {
          // TODO: Colour hover state
          background-color: rgba(0,0,0,.1);
        }
      }
    }
  }
}

.publication {
  font-size: 1rem;
  padding: .2rem .5rem;
}

.meta {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.news-item {
  padding: .5rem;
  background-color: rgba(255,255,255,.05);
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
