@use 'styles/index' as *;
@use 'styles/components/widget' as *;

:host {
  container-type: inline-size;
  display: block;
}

.recent-news-widget {
  @include widget-style;

  ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;

    li {
      margin-bottom: 0.75rem;

      a {
        background-color: rgba(white, 0.1);
        display: block;
        color: var(--color-onAccent);
        font-size: smaller;
        font-style: italic;
        text-decoration: none;
        border-radius: 0.25rem;
        transition: background-color 0.2s ease;
        padding: .5rem;

        &:hover {
          background-color: rgba(white, 0.2);
        }
      }
    }
  }
}
