<div class="toast-container">
  <div
    *ngFor="let toast of toasts()"
    class="toast toast--{{ toast.type }}"
  >
    <i class="material-symbols-outlined toast-icon" [ngSwitch]="toast.type">
      <ng-container *ngSwitchCase="'success'">check_circle</ng-container>
      <ng-container *ngSwitchCase="'error'">error</ng-container>
      <ng-container *ngSwitchCase="'warning'">warning</ng-container>
      <ng-container *ngSwitchCase="'info'">info</ng-container>
    </i>
    <span class="toast-message">{{ toast.message }}</span>
    <button class="toast-dismiss-button" (click)="dismiss(toast.id)">
      &times;
    </button>
  </div>
</div>
